a(href='/') Home

h2 Decide on a course of action
p
  :markdown
    Now that we have a time to meet, we need to figure out how to overcome the
    problem of mice eating our moon-base food supplies.  But now, the batteries
    have run out in the helmet radio system, so we can't talk to each other!
    Since there's no air, no one can make any sounds. At least we're in the
    same room, and we can see each other!

    Use anything in the room you can find &ndash; paper, white boards, laptops,
    anything you like, in order to communicate with each other, but no sounds.
p
  :markdown
    For this exercise, each player gets a short description of some traits they
    have &ndash; it's each person's job to play the part described.  There is
    no single right answer.  Here are the roles (don't show this in advance;
    print them out and hand each person a piece of paper).

h3 Player roles
ol.player-roles
  li You think cats are a great way to deal with mice.  You had a cat back at home on earth which kept your house mouse free.  A small portion of the monthly food shipment could be displaced by a warm-bodied mammal and survive the journey.

  li You enjoy building things.  In the past, you've trapped mice with elaborate systems of buckets and ramps.  You're also allergic to cats &ndash; they make you sneeze, a lot.

  li You believe in the importance of all life, including mice, and are a committed vegan.  You don't like the idea of killing any mice, and would prefer a no-kill solution.  You think that it's not quite as terrible if a natural predator kills another animal, but don't want any traps or poison.

  li You miss your family, your friends, and your pet cat from back home, and this is dominating your thoughts lately. You long for companionship and something that reminds you of home.

  li You're in love with the person two seats to your right, but haven't told them yet.  You want to make a good impression on them.  You used to live in a cabin in Colorado, and trapped mice with snap traps.  Sometimes the traps wouldn't kill the mice immediately, and it was ugly.

  li You believe in eating what you kill.  The mice on the moon are very clean, and could actually be added to stew.  You think there's no problem with this, since they're going to die anyway.  You've been getting hungrier as supplies have diminished.

  li You are coordinating the rocket supply transports from Earth.  The deadline for placing orders for the next shipment is tonight.  Anything that doesn't get into the ship tonight won't be here for another month.

  li You aren't inclined to speak (verbally or non-verbally) unless someone specifically addresses you.  You have a collection of mouse traps in your moon-base locker left over from the last time mice infected the moon base.

  li You've been managing the food store, and are getting very concerned about the health impacts of mouse droppings in the food.  You don't care what we do to the mice, you just want them gone, now.

  li You've noticed that people aren't very careful about cleaning up after themselves.  You think the mice infestation wouldn't be a problem if everyone would just seal food bins and mop up after themselves.  You don't like the idea of killing mice before you have a cleaning practices in place to preventing them from returning.
