img(src='/img/moon.png', style='float: left;', alt='moon')
h1 Moon Talk
p A facilitated communication game for 10-20 people
p.scenario
  :markdown
    We're all residents of a moon base, wearing moon suits and moon boots.  The
    only channel for communication we have are some clunky two-way radios. Only
    one person can speak at once, and after speaking, there's a several second
    delay before the radio is free again. 
p
  :markdown
    Oh no!  Mice have infested the moon base power supply, and are eating all
    the food.  What ever can we do?
ol
  li
    a(href='/schedule/') Schedule a meeting
  li
    a(href='/decide/') Decide on a course of action
